@using bUnitDemo.Shared
@inherits TestContext

@code {
    [Fact]
	public void CounterStartsAtZero()
	{
		var cut = Render(@<Counter />);

		cut.Find("p").MarkupMatches(@<p>Current count: 0</p>);
	}

	[Fact]
    public void UseTextNotion() 
    {
        var cut = Render(@<text> //without this it doesn't works
							<Counter />
							<HelloWorld />
						  </text>);
    }
}