/* _content/bUnitDemo.Shared/Component1.razor.rz.scp.css */
.my-component[b-7einbbdq5p] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
